<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Fingerprint</title>
        <link rel="stylesheet" type="text/css" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8= crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="static/scripts/dist/bundle.js"></script>    
        <script type="text/javascript" src="static/scripts/node_modules/angular-resource/angular-resource.js"></script>
        <script type="text/javascript" src="static/scripts/node_modules/angular-route/angular-route.js"></script>
    </head>
    <body>
        <div ng-app="app">
            <navbar></navbar>
            <div ng-view></div>
        </div>
    </body>
</html>
